---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main></main>
</BaseLayout>

<script src="../../../lib/music/main"></script>
<script is:inline src="/p5/p5.min.js"></script>
<script is:inline src="/sketch.js"></script>
